@import 'https://ltcc.evaluationkit.com/canvas/css';

/*********************************************************************/
/***** BEGIN DESIGN TOOLS THEME IMPORT & CUSTOMIZATION  **************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);
/* Theme Colors */
:root {
  --dt-color-primary: #003D4D;
  --dt-color-primary-contrast: #FFFFFF;
  --dt-color-primary-dark-text: #003D4D;
  --dt-color-secondary: #00A3E0;
  --dt-color-secondary-contrast: #000000;
  --dt-color-secondary-dark-text: #006F9E;
  --dt-color-accent: #007336;
  --dt-color-accent-contrast: #FFFFFF;
  --dt-color-graybg: #E6E6E6;
  --dt-color-graybg-contrast: #000000;
}
/*********************************************************************/
/***** END DESIGN TOOLS HEME IMPORT & CUSTOMIZATION   ****************/
/*********************************************************************/